<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Inventory</title>{% endblock %}
  <meta charset="utf-8">

  {% load static %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'styles.css' %}" />

  <script src="//cdn.datatables.net/2.1.5/js/dataTables.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/2.1.5/css/dataTables.dataTables.min.css" />


</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

{% block content %}{% endblock %}

</body>
</html>
