{% extends "base_generic.html" %}

{% block content %}
<script>
    function refreshPurchases() {
        let purchases = document.getElementById("purchases")
        if (purchases.hasAttribute("hx-ext")) {
            purchases.removeAttribute("hx-ext")
            htmx.process(document.body);
        }
        purchases.setAttribute("hx-ext", "sse")
        htmx.process(document.body);
    }

    function refreshSales() {
        let sales = document.getElementById("sales")
        if (sales.hasAttribute("hx-ext")) {
            sales.removeAttribute("hx-ext")
            htmx.process(document.body);
        }
        sales.setAttribute("hx-ext", "sse")
        htmx.process(document.body);
    }


    $(document).ready(function () {
        let table = new DataTable('#items', {
            paging: false,
        });

        document.getElementById("search").addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                // scanning a usps barcode provides addtl data that we dont need
                let tracking = event.target.value.substring(event.target.value.length - 22)
                // search()
                // let searchBox = document.getElementById("dt-search-0")
                // searchBox.
                table.search(tracking).draw()
            }
        });
    });
</script>


<h1>Inventory</h1>

<div hx-get="{% url 'refresh_token' %}" hx-swap="innerHTML" hx-trigger="load">Checking token...</div>

<h2>Tools</h2>
<button onclick="refreshPurchases()">Refresh purchases</button>
<div class="log">
    <div id="purchases" sse-connect="{% url 'refresh_purchases' %}" hx-swap="beforebegin" sse-swap="log"
         sse-close="done"></div>
</div>

<button onclick="refreshSales()">Refresh sales</button>
<div class="log">
    <div id="sales" sse-connect="{% url 'refresh_sales' %}" hx-swap="beforebegin" sse-swap="log"
         sse-close="done"></div>
</div>

<h2>Purchases</h2>

<label for="search">Search:</label>
<input id="search" type="text" value="">

<table id="items">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Bought</th>
        <th>State</th>
        <th>Item</th>
        <th>Price</th>
        <th>Gross profit (no shipping)</th>
        <th>Net profit (no shipping)</th>
        <th>Links</th>
        <th>Shipping</th>
        <th></th>
    </tr>
    </thead>
    {% for item in items %}
    <tr>
        <td>
            <input style="width:40px;" type="text" value="{{ item.system_id|default_if_none:'' }}" hx-patch="{% url 'item_detail' pk=item.item_id %}"
                   hx-trigger="blur" hx-vals="js:{ 'id': '{{ item.item_id }}', 'system_id': event.target.value }"/>
        </td>
        <td>
            <input type="text" value="{{ item.system_title|default_if_none:'' }}" hx-patch="{% url 'item_detail' pk=item.item_id %}"
                   hx-trigger="blur" hx-vals="js:{ 'id': '{{ item.item_id }}', 'system_title': event.target.value }"/>
        </td>
        <td>{{ item.bought_date }}</td>
        <td>
            <select hx-swap="none" hx-trigger="change" hx-patch="{% url 'item_detail' pk=item.item_id %}" hx-vals="js:{ 'id': '{{ item.item_id }}', 'state': event.target.value }">
                <option {% if item.state == 'IN_FLIGHT' %}selected="selected"{% endif %} value="IN_FLIGHT">IN_FLIGHT</option>
                <option {% if item.state == 'ON_SHELF' %}selected="selected"{% endif %} value="ON_SHELF">ON_SHELF</option>
                <option {% if item.state == 'ON_SHELF_LISTED' %}selected="selected"{% endif %} value="ON_SHELF_LISTED">ON_SHELF_LISTED</option>
                <option {% if item.state == 'SHIPPED' %}selected="selected"{% endif %} value="SHIPPED">SHIPPED</option>
            </select>
        </td>
        <td>{{ item.title }}</td>
        <td>
            <input style="width:80px;" type="number" value="{{ item.bought_price|default_if_none:'' }}" hx-patch="{% url 'item_detail' pk=item.item_id %}"
                   hx-trigger="blur" hx-vals="js:{ 'id': '{{ item.item_id }}', 'bought_price': event.target.value }"/>
        </td>
        <td>{{ item.gross_profit|default_if_none:'' }}</td>
        <td>{{ item.net_profit|default_if_none:'' }}</td>
        <td><a target="_blank" href="{{ item.order_id_url }}">{{ item.order_id }}</a></td>
        <td>{{ item.bought_tracking_number }}</td>
        <td><button hx-get="{% url 'refresh_item' item.item_id %}" hx-swap="innerHTML">Refresh</button></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
